* {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    --main-width: calc(100vw - 75px);
}

html {
    overflow: hidden;
}

body {
    color: black;
    background-color: white;
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: #1e0536;
}

body::-webkit-scrollbar-thumb {
    background-color: #62368b;
}

main {
    background: url(./low-poly-grid-haikei.svg);
    height: 100vh;
    width: var(--main-width);
    background-size: cover;
    margin-left: 75px;
    display: grid;
    grid-template-columns: calc(var(--main-width)/8) auto calc(var(--main-width)/8);
    grid-template-rows: calc(var(--main-width)/12) auto calc(var(--main-width)/12);
}

main div { 
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}